<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.css">
    <title>Maqola 1</title>
</head>
<body>
<div class="container">
    <h1>{{ maqola.date.year }} {{ month }}</h1>
    <div class="row">
        <div class="col-12">
            <p>{{ maqola.title}}</p>
            <img src="{{ maqola.photo.url }}" alt="">
            
        </div>
        <div class="col-12">
            <p>{{ maqola.text}}</p>
        </div>
    </div>
    <div class="row footer">
        <p>© 2024 asliddin.com</p>
    </div>
</div>
</body>
</html>